*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(../Media/Imagenes/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    position: relative; /* o fixed si quieres que esté siempre arriba */
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: blue;
    display: flex;              /* Activamos Flexbox */
    align-items: center;        /* Centra verticalmente */
    justify-content: left;    /* Centra horizontalmente */
    z-index: 999;
    margin-bottom: 5%;
}


ul {
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
}

ul > li {
    position: relative;
}

ul > li > a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    margin-left: 2%;
}

ul > li > a:hover {
    background-color: purple;
}

/* Submenú oculto por defecto */
.submen {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: blue;
    padding: 0;
    margin: 0;
    min-width: 180px;
    z-index: 1000;
}

.submen li a {
    padding: 10px 15px;
    color: white;
    display: block;
    text-decoration: none;
}

.submen li a:hover {
    background-color: purple;
}

/* Mostrar submenú cuando se activa la clase .active */
.menuDesplegar.active .submen {
    display: block;
}

.contenido-registro{
    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.contenido-registro input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contenido-registro button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sesiones {
    position: absolute;
    right: 15%;
    display: flex;
    gap: 10px;
}

.boton {
    padding: 8px 16px;
    background-color: #ffcb05;
    border: none;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}